# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
 paths:
   include:
     - micro-services/vote/*
 branches:
   include:
     - main

pool:
 name: 'My Local Agent'


resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: 'build'
        dockerfile: '$(Build.SourcesDirectory)/micro-services/vote/Dockerfile'
        tags: |
          $(tag)
