apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  storageClassName: votingapp-azure-disk 
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi         