apiVersion: v1
kind: Service
metadata:
  name: db-service
  namespace: voting-app 
  labels:
    app: db
  name: db
spec:
  type: ClusterIP
  ports:
  - name: db-service
    port: 5432
    targetPort: 5432
  selector:
    app: db
  
